<suite name="Project A RestAPI automation suite">
    <test name="Testcase1">
        <classes>
            <class name="TestCase1" />
        </classes>
    </test>
    <test name="Testcase2">
        <classes>
            <class name="TestCase2" />
        </classes>
    </test>
    <test name="Testcase3">
        <classes>
            <class name="TestCase3" />
        </classes>
    </test>
</suite>